<div style="margin-bottom: 5px;">
    <dx-button
        icon="arrowleft"
        text="Geri"
        (onClick)="onGeriClick()">
    </dx-button>
</div>
<div style="background-color: white;">

    <dx-form #formEdit [formData]="dataSource" [colCount]="4" 
        (onEditorEnterKey)="onEditorEnterKey($event)">

        <dxi-item dataField="description">
        </dxi-item>        

        <dxi-item dataField="aracPlakasi">
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>                    

        <dxi-item dataField="aracTipId" editorType="dxLookup" [editorOptions]="editorOptions" >
            <dxi-validation-rule type="required"></dxi-validation-rule>                        
        </dxi-item>        

        <dxi-item dataField="aracKapasitesi" editorType="dxNumberBox" [editorOptions]="{showSpinButtons:true, showClearButton:true }">
            <dxi-validation-rule type="required" ></dxi-validation-rule>
        </dxi-item>

        <dxi-item 
            itemType="button"
            horizontalAlignment="left"
            [buttonOptions]="buttonOptionsEdit">
        </dxi-item>
    </dx-form>
</div>

