<div style="margin-bottom: 5px;">
    <dx-button
        icon="arrowleft"
        text="Geri"
        (onClick)="onGeriClick()">
    </dx-button>
</div>
<div style="background-color: white;">
    <dx-form #formEdit [formData]="dataSource" [colCount]="3" 
        (onEditorEnterKey)="onEditorEnterKey($event)">

        <dxi-item dataField="description">
        </dxi-item>        

        <dxi-item dataField="tarih" editorType="dxDateBox" [editorOptions]="{displayFormat: 'dd/MM/yyyy'}">
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>                    

        <dxi-item dataField="tourTipId" editorType="dxLookup" [editorOptions]="tourTipEditorOptions" >
            <dxi-validation-rule type="required"></dxi-validation-rule>            
        </dxi-item>

        <dxi-item 
            itemType="button"
            horizontalAlignment="left"
            [buttonOptions]="buttonOptionsEdit">
        </dxi-item>
    </dx-form>
</div>

