
<dx-data-grid
#grid
[dataSource]="dataSource"  
[remoteOperations]="true"
[showBorders]="true"
[repaintChangesOnly]="false"
[wordWrapEnabled]="true"
(onToolbarPreparing)="onToolbarPreparing($event)">

<dxi-column type="buttons">
    <dxi-button icon="edit" hint="Edit" [onClick]="onClickEdit"></dxi-button>
    <dxi-button icon="close" hint="Delete" [onClick]="onClickDelete"></dxi-button>        
</dxi-column>

<dxi-column dataField="description" [width]="300" ></dxi-column>
<dxi-column dataField="musteriAdiSoyadi" [width]="300" ></dxi-column>    
<dxi-column dataField="uyrukId" caption="Uyruk" [width]="300">
    <dxo-lookup [dataSource]="uyrukDataSource" valueExpr="id" displayExpr="uyrukAdi"></dxo-lookup>
</dxi-column>
<dxi-column dataField="otelId" caption="Otel" [width]="300">
    <dxo-lookup [dataSource]="otelDataSource" valueExpr="id" displayExpr="otelAdi"></dxo-lookup>
</dxi-column>

<dxi-column dataField="odaNo" [width]="300" ></dxi-column>    

</dx-data-grid>
